<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${user}">

    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <label for="firstName">Enter firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>

    <label for="lastName">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br/>
    <input type="submit" value="Create!"/>
</form>

<p></p>
<form class="form-signin" method="post" action="/logout">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
</form>

</body>
</html>